@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ED1b24;
    padding: 0 20px;
}

.small-container{
    max-width: 700px;
}

.container,
.small-container {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#tasks-container{
    margin-top: 7%;
}


.container header,
.small-container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form,
.small-container .form {
    margin-top: 30px;

}

p{
    text-align: center;
    padding-top: 2%;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    color: #707070;
    outline: none;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    font-weight: 400;
    background-color:#ED1b24;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: rgb(0,0,0);
}



.cancelbtn,
.backbtn {
    background-color: #bfbfbf;
}

.submitbtn {
    background-color: #ED1b24;
}



.cancelbtn,
.submitbtn,
.backbtn {
    vertical-align: middle; 
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    font-size: 1rem;
    height: 55px;
    margin-inline: 10px;
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    width: 45%;
    padding: 0 20px; 
}

.backbtn{
    width: 25%;
}

.form-btns {
    text-align: center;
    margin-top: 20px;
    margin-inline: 10px;

}

#driver-btns{
    margin-inline: -3.5%;


}

.button:hover,
.submitbtn:hover,
.backbtn:hover {
    background-color: rgb(0,0,0);
}

.cancelbtn:hover
 {
    background-color: rgb(0,0,0);
    text-decoration: none;
    color: #fff;
}

.input-box input[type="file"] {
    display: none;
}

.input-box .label-file{
    display: inline-block;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #ED1b24;
    border: 1px solid #2980b9;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.input-box .label-file:hover{
    background-color: rgb(0,0,0);
}




@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .input-box {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 90%;
    }
}

/* Adjustments for extra small screens */
@media screen and (max-width: 375px) {
    .container {
        max-width: 95%; 
    }

    body {
        font-size: 18px; 
    }

    .container header {
        font-size: 2rem; 
    }

    .container .form {
        font-size: 1.4rem; 
    }
}